@font-face {
  font-family: Flood;
  src: url(Flood-Std-Regular/Flood-Std-Regular.otf);
}
html{
  font-size: 4.3vw;
}
body {
  font-family: Helvetica;
  height: 7000px;
  margin: 0;
  padding: 0;
}
header {
  padding: 32px 32px;
  gap:29px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.upper-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 126px;
  color: #354463;
  font-weight: bold;
  line-height: 1.375rem;
  font-size: 1.125rem;
}
.options {
  display: flex;
  gap: 0.375px;
  flex-direction: column;
}
.nav-link {
  font-family: Helvetica;
  color: #354463;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
}
.below-half {
  display: flex;
  justify-content: center;
}
.donate {
  background-color: #c1f7d5;
  color: #354463;
  /* font-size: 1.125rem; */
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1.375rem;
  width: 312px;
  /* height: 40px; */
  border: none;
  border-radius: 100px;
  opacity: 1;
  /* padding-bottom: 2px;
  padding-top: 2px; */
}

/*  */

.blue-label {
  background-color: #354463;
  height: 40px;
  width: 160px;
  color: #ffffff;
  font-family: Helvetica;
  /* font-size: 0.875rem;
  letter-spacing: 0.035rem;
  line-height: 1.0625rem; */
  font-size: 14px; 
  letter-spacing: 0.56px; 
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */

.first-below-first {
  display: flex;
  flex-direction: column;
}
.first-background {
  background-image: url("home-back/first.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.first-image-text {
  width: 181px;
  height: 136px;
  text-align: left;
  font-size: 44px;
  line-height: 42px;
  /* font-size: 2.75rem;
  line-height: 2.875rem; */
  color: #ffffff;
  font-family: Flood;
}
.to-be-center {
  margin-top: 140px;
  margin-bottom: 15px;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}
.the-issue {
  position: absolute;
  top: -20px;
}
.the-issue-content-head {
  color: #354463;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: bold;
}
.the-issue-content-down {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  color: #354463;
  font-size: 0.875rem;
  letter-spacing: -0.009rem;
  line-height: 1.5rem;
  text-decoration: underline;
}
.below-first-background {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #c1f7d5;
  padding: 62px 32px 56px;
}
.actions {
  display: flex;
  width: 100%;
  /* gap:27px; */
  gap:1.688rem;
  flex-direction: column;
}
.learn-volunteer{
  display: flex;
  justify-content: space-between;
}
.share-donate{
  display: flex;
  justify-content: space-between;
}
.action-head {
  margin: 0;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #354463;
}
.action-content {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.009rem;
  color: #354463;
  font-weight: lighter;
  /* width: 145px;
  height: 62px; */
}

/*  */

.white-label {
  background-color: #ffffff;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.035rem; */
  font-size: 14px; 
  line-height: 17px; 
  letter-spacing: 0.56px;
  color: #354463;
}

/*  */

.what-we-do-section {
  background-color: #354463;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 32px 40px;
}
.what-we-do-text {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.what-we-do-content {
  margin-top: 53px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 34px 30px 34px;
  position: relative;
}
.what-we-image {
  width: 248px;
  height: 176px;
  position: absolute;
  top: -38px;
}
.what-content-head-body{
    width: 240px;
    text-align: center;
}
.what-content-head {
  text-align: center;
  color: #354463;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  font-family: Helvetica;
  margin-bottom: 0;
}
.what-content-body {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.009rem;
  color: #354463;
  font-family: helvetica;
  text-align: center;
}
.read-more {
  background-color: #c1f7d5;
  height: 40px;
  width: 152px;
  border-radius: 100px;
  color: #354463;
  font-weight: bold;
  /* font-size: 1rem;
  line-height: 1.25rem; */
  font-size: 16px; 
  line-height: 20px;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.second-background {
  background-image: url(home-back/second.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-image-text {
  font-family: Flood;
  /* font-size: 2.75rem; */
  font-size: 44px;
  line-height: 46px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap:20px;
  color: #ffffff;
}
.take-action {
  background-color: #c1f7d5;
  padding: 10px;
  width: 55%;
  border-radius: 100px;
  color: #354463;
  font-weight: bold;
  /* font-size: 1rem;
  line-height: 1.25rem; */
  font-size: 16px; 
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.do-you-know-boxes {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 16px;
  margin-top: 80px;
}
.first-do-know-box {
  position: relative;
  display: flex;
  justify-content: center;
}
.did-you {
  position: absolute;
  top: -20px;
}
.do-you-know-content {
  display: flex;
  justify-content: center;
  width: 79%;
  background-color: #ffffff;
  padding: 24px 32px;
}
.do1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #354463;
  margin-bottom: 16px;
}
.do2 {
  font-family: Helvetica;
  font-size: 0.875rem;
  letter-spacing: -0.009rem;
  line-height: 1.25rem;
  color: #354463;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.facebook {
  background-color: #c1f7d5;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twitter {
  background-color: #c1f7d5;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */

.stories {
  padding: 56px 32px 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  align-items: center;
}
/* .stories-background { */
  /* border: solid red 1px; */
  /* width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
} */
.stories-background-image{
  width:100%;
  /* height: 312px; */
}
.story-box {
  position: absolute;
  top: 38px;
}
.stories-content-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.stories-content {
  background-color: #354463;
  display: flex;
  padding: 29px 32px;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}
.stories-content-head {
  font-family: Helvetica;
  /* font-size: 1.375rem;
  line-height: 1.75rem; */
  font-size: 22px; 
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 17px;
}
.stories-content-tail {
  font-family: Helvetica;
  font-size: 0.6875rem;
  letter-spacing: 0.0275rem;
  line-height: 0.8125rem;
}

/*  */

.future {
  background-color: #354463;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 32px;
}
.future-heading {
  font-family: Flood;
  /* font-size: 2.75rem;
  line-height: 2.875rem; */
  font-size: 44px;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
}
.future-image>img {
  margin-top: 95px;
  width: 100%;
}
.future-text {
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.event {
  position: absolute;
  top: -332px;
}
.latest-news {
  position: absolute;
  top: -332px;
}
.future-text-head {
  font-family: Helvetica;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #ffffff;
  font-weight: bold;
}
.future-text-tail {
  margin-top: 0;
  padding: 20px;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 0.875rem;
  letter-spacing: -0.009rem;
  line-height: 1.25rem;
  color: #ffffff;
}

/*  */

.subscribe {
  background-color: #c1f7d5;
  padding: 36px 22px 32px 32px;
}
.subscribe-text {
  width: 100%;
  margin: 0;
  font-weight: bold;
  /* font-size: 1.375rem;
  line-height: 1.75rem; */
  font-size: 22px; 
  line-height: 28px;
  color: #354463;
  padding-bottom: 30px;
}
.subscribe input {
  width: 58%;
  margin-right: 1%;
  height: 40px;
  border-radius: 60px;
  border-style: none;
  color: #354463;
  font-weight: light;
  text-align: center;
}
.subscribe-button {
  padding: 0;
  background-color: #354463;
  color: #c1f7d5;
  font-weight: bold;
  /* font-size: 1rem;
  line-height: 1.1875rem; */
  font-size: 16px; 
  line-height: 19px;
  width: 35%;
  height: 40px;
  border-style: none;
  border-radius: 50px;
}

/*  */

footer {
  padding: 67px 32px;
}
.footer-flex {
  /* height: 330px; */
  display: grid;
  row-gap: -30px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 50% 50%;
  row-gap: 37px;
}
.green-head {
  width: 94px;
  color: #354463;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.footer-flex-up {
  margin-top: 0;
  /* font-size: 0.6875rem;
  line-height: 0.8125rem;
  letter-spacing: 0.0275rem; */
  font-size: 11px; 
  line-height: 13px; 
  letter-spacing: 0.44px;
  color: #354463;
}
.footer-flex-down {
  width: 130px;
  font-weight: lighter;
  /* font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.009rem; */
  font-size: 14px;
  line-height: 20px; 
  letter-spacing: -0.14px;
  color: #354463;
  margin: 0;
}
.stop-climate-change {
  /* margin-top: 5px; */
  /* line-height: 2.875rem;
  font-size: 2.75rem; */
  font-size: 44px;
  line-height: 46px;
  color: #354463;
  font-family: Flood;
  text-align: right;
  grid-column: 2;
}


@media (min-width: 480px) and (max-width: 1023px) {
    html{
         font-size: 2.05vw;
    }

    header{
        flex-direction: row;
        padding: 20px 64px;
    }
    .upper-half{
        flex:1;
        display: flex;
        gap:10px;
        align-items: start;
        flex-direction: column;
    }
    .title{
      font-size: 1.375rem;
      line-height: 1.5rem;
      width:160px;
    }
    .options{
        flex-direction: row;
        gap:31px;
        justify-content: space-between;
    }
    .nav-link{
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
    }
    .below-half{
        align-items: center;
    }
    .donate{
        width: 140px;
    }

    /*  */
    /*  */

    .first-background{
        background-image: url(home-back/first-tablet.png);
        padding: 69px  64px;
    }
    .to-be-center{
        margin-top: 94px;
        padding: 59px 64px 64px 64px;
        margin-bottom: 0;
        align-items: start;
    }
    .the-issue-content-head{
        margin: 0;
        font-size: 2.25rem;
        line-height: 2.875rem;
        text-align: left;
    }
    .the-issue-content-down{
        padding: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;  
        margin-top: 32px;
    }
    .below-first-background{
        padding: 64px 64px 60px;
    }
    .learn-volunteer{
      gap: 20%;
    }
    .share-donate{
      gap: 17%;
    }
    .actions{
      gap:44px;
    }
    .action-head{
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    .action-content{
        font-size: 1rem;
        letter-spacing: -0.01rem;
        line-height: 1.5rem;
        width: 95%;
        /* height: 52px; */
    }

    /*  */
    /*  */

    .what-we-do-section{
        padding: 60px 55px;
        align-items: start;
    }
    .what-we-do-text{
        text-align: left;
        font-size: 2.25rem;
        line-height: 2.875rem;
    }
    .contents-of-what{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap:64px
    }
    .what-we-do-content{
      flex-wrap:wrap;
      flex-direction: row-reverse;
      /* width: 640px; */
      align-items: end;
      gap:40px;
      padding: 36px 42px 48px 32px;
    }
    /* .what-content-head-body{
      text-align: left;
    } */
    .what-content-head{
      margin: 0px;
      padding-bottom: 32px;
      text-align: left;
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
    .what-content-body{
      /* width: 246px; */
      margin: 0;
      text-align: left;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
    }
    .what-we-image {
      width: 46%;
      height: 70%;
      position: absolute;
      top: -38px;
      right: 323px;
    }
    .read-more{
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    /*  */
    /*  */

    .second-background{
        background-image: url(asset/home/did-you-know-background.png);
        /* flex-wrap: wrap; */
        /* height: 833px; */
        gap:32px;
        flex-direction: row;
        padding: 63px;
        justify-content: space-between;
    }
    .second-image-text{
        width: 30%;
        /* height: 228px; */
        margin-bottom: 0px;
    }
    .take-action{
      width: 90%;
    }
    .did-you{
        right: 191px;
    }
    /* .do1do2{
        width:70%;
    } */
    .do-you-know-boxes{
        margin:0;
        gap:32px;
        align-items: center;
        width: 64%;
    }
    .do-you-know-content{
        justify-content: space-between;
    }
    .first-do-know-box{
      width: 100%;
    }
    .do1{
        width: 220px;
        font-size: 2.25rem;
        line-height: 2.875rem;
    }
    .do2{
        width: 224px;
        /* height: 44px; */
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
    }

    /*  */
    /*  */

    .stories{
        padding: 64px 64px 367px;
        position: relative;
        align-items: start;
    }
     /* .stories-background{ */
        /* width: 576px;
        height: 568px; */
        /* justify-content: start;
        position: relative; */
        /* margin-bottom: 223px; */
    /* } */
    .stories-background-image{
      width: 90%;
      height: 150%;
    }
    .story-box{
        position: absolute;
        left: 17.5%;
    }
    .stories-content-button{
        position: absolute;
        left: 17.5%;
        top: 55%;
        align-items: start;
        width: 74.5%;
        /* text-align: left; */
        /* padding: 61px 23px 63px 64px; */
        /* position: absolute; */
        /* bottom:10px; */
        /* height: 165px; */
        /* width: 485px; */
        /* top: -568px; */
        /* top:100px; */
        /* width: 87.5%;
        left: 16.5%;
        top:57%; */
    }
    .stories-content{
      text-align: left;
      padding: 61px 23px 63px 64px;
      /* width: 73%; */
    }
    .stories-content-head{
        font-size: 1.375rem;
        line-height: 1.75rem;
        margin-bottom: 43px;
    }
    .stories-content-tail{
        font-size: 0.875rem;
        line-height: 1.0625rem;
        letter-spacing: 0.035rem;
    }

    /*  */

    .future{
      padding: 66px 64px 72px 64px;
    }
    .future-heading{
      text-align: left;
      padding-right: 20%;
    }
    .future-image-text{
      margin-top: 59px;
      display: flex;
      gap: 64px;
    }
    .future-image-text-reverse{
      margin-top: 59px;
      display: flex;
      flex-direction: row-reverse;
      gap: 64px;
    }
    .future-image{
      flex:1;
    }
    .future-image>img{
      margin-top: 0;
      width: 87%;
    }
    .future-text{
      flex:1;
      align-items: start;
      gap:33px;
    }
    .event{
      position: initial;
    }
    .latest-news{
      position: initial;
    }
    .future-text-head{
      font-size: 1.75rem;
      line-height: 2.25rem;
      text-align: left;
      margin: 0;
    }
    .future-text-tail{
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
      text-align: left;
      padding: 0;
      margin:0;
      width: 95%;
    }

    /*  */

    .subscribe{
      padding: 61px 64px 63px;
    }
    .subscribe-text{
      width:70%;
    }
    .subscribe input{
      width: 64%;
      text-align: left;
      padding-left: 30px;
      margin-right: 3%;
    }
    .subscribe-button{
      width: 25%;
    }

    /*  */
    /*  */

    footer{
      padding: 60px 75px 53px 64px;
    }
    .green-head{
      width: 153px;
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
    .footer-flex{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .learn{
      grid-column: 2;
    }
    .stop-climate-change{
      grid-column: 3;
      text-align: left;
    }
}

@media (min-width: 1024px){
    html{
      font-size: 2.7vw;
    }
    header{
      flex-direction: row;
      padding: 34px 160px 31px;
    }
    .upper-half{
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

    }
    .options{
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
    }
    .title{
      width: 160px;
      font-size: 22px;
      line-height: 28px;
    }
    .nav-link{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.16px;
    }
    /*  */
    .first-background{
      background-image: url(home-back/first-desktop.png);
      flex-direction: row-reverse;
      padding: 128px 305px 128px 160px;
      align-items: start;
      justify-content: space-between;
    }
    .to-be-center{
      align-items: start;
      justify-content: start;
      padding: 66px 64px 75px;
      margin-top: 0;
      width:45%;
    }
    .first-image-text{
      width: 30%;
      font-size: 72px;
      line-height: 76px; 
    }
    .the-issue-content-head{
      margin: 0;
      font-size: 44px;
      line-height: 56px;
      text-align: left;
    }
    .the-issue-content-down{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.16px;
      padding: 0;
      margin-top: 30px;
    }
    /*  */
    .below-first-background{
      padding: 75px 160px 78px;
    }
    .actions{
      gap:56px;
      flex-direction: row;
    }
    .learn-volunteer{
      gap:56px;
    }
    .share-donate{
      gap:56px;
    }
    .action-head{
      font-size: 28px;
      line-height: 36px;
    }
    .action-content{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.16px;
    }
    /*  */
    .what-we-do-section{
      padding: 88px 158px 160px 160px;
      align-items: flex-start;
    }
    .what-we-do-text{
      font-size: 44px;
      line-height: 56px;
      text-align: left;
    }
    .contents-of-what{
      display: flex;
      flex-direction: row;
      gap:32px;
      justify-content: space-between;
    }
    .what-we-do-content{
      align-items: flex-start;
      width: 22.5%;
      padding-top: 200px;
    }
    .what-we-image{
      width: 100%;
      height: 44%;
    }
    .what-content-head-body{
      width: 98%;
    }
    .what-content-head{
      text-align: left;
      font-size: 28px;
      line-height: 36px;
    }
    .what-content-body{
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.16px;
    }
    /*  */
    .second-background{
      background-image: url(home-back/second-desktop.png);
      flex-direction: row;
      justify-content: space-between;
      padding: 143px 160px 127px;
    }
    .second-image-text{
      font-size: 72px;
      line-height: 76px;
      gap:57px;
      width:35%
    }
    .do-you-know-boxes{
      margin: 0;
      gap: 32px;
      align-items: flex-end;
    }
    .first-do-know-box{ 
      justify-content: flex-end;
    }
    .do-you-know-content{
      padding: 62px 56px 53px 64px;
      width: 66%;
    }
    .did-you{
      left: 162px;
    }
    .do1{
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 5px;
    }
    .do2{
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.4;
      width: 80%;
    }
    /*  */
    .stories{
      padding: 128px 160px;
      flex-direction: row-reverse;
    }
    .stories-background-image{
      width: 57.5%;
    }
    .story-box{
      right: 40%;
      top: 13%;
    }
    .stories-content-button{
      align-items: start;
      width: 37%;
      position: absolute;
      right: 51%;
      gap:64px;
      top: 27.5%;
    }
    .stories-content{
      padding: 52px 64px 63px;
      text-align: left;
    }
    .stories-content-head{
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 19px;
    }
    .stories-content-tail{
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.56px;
    }
    /*  */
    .future{
      padding: 128px 160px 112px;
      align-items: flex-start;
    }
    .future-heading{
      font-size: 72px;
      line-height: 76px;
      text-align: left;
      width: 80%;
      margin-bottom: 74px;
    }
    .future-image-text{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 112px;
    }
    .future-image-text-reverse{
      display: flex;
      justify-content: space-between;
    }
    .future-image > img{
      width: 100%;
      margin-top: 0;
    }
    .event{
      top:0%;
    }
    .latest-news{
      top: 0%;
    }
    .future-text{
      width: 40%;
      gap:22px;
      align-items: flex-start;
    }
    .future-text-head{
      text-align: left;
      font-size: 44px;
      line-height: 56px;
      margin: 0;
      margin-top: 20.5%;
    }
    .future-text-tail{
      text-align: left;
      padding: 0;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }
    /*  */
    .subscribe{
      display: flex;
      padding: 69px 160px;
      align-items: center;
    }
    .subscribe-text{
      padding: 0;
      width: 50%;
      font-size:28px ;
      line-height: 36px;
    }
    .input-sub-button{
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
    .subscribe input{
      width: 63%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .subscribe-button{
      width: 30%;
    }
    /*  */
    footer{
      padding: 113px 158px 120px 160px;
    }
    .green-head{
      font-size: 22px;
      line-height: 28px;
      width: 50%;
    }
    .footer-flex{
      display: flex;
      gap:96px;
    }
    .footer-flex-up{
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.56px;
    }
    .footer-flex-down{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.14px;
    }

}