@font-face{
  font-family:Flood;
  src:url(/Flood-Std-Regular/Flood-Std-Regular.otf);
}
html{
  font-size:4.3vw;
}
body{
  font-family: Helvetica;
  margin:0;
  padding:0;
}
header{
  padding:2rem 2rem;
  gap:1.8125rem;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.upper-half{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}
.title{
  width:7.875rem;
  color:#354463;
  font-weight:bold;
  line-height:1.375rem;
  font-size:1.125rem;
}
.options{
  display:flex;
  gap:0.0234rem;
  flex-direction:column;
}
.nav-link{
  
  color:#354463;
  font-size:1rem;
  line-height:1.5rem;
  letter-spacing:-0.01rem;
}
.below-half{
  display:flex;
  justify-content:center;
}
.donate{
  background-color:#c1f7d5;
  color:#354463;
  font-size:1.125rem;
  
  font-weight:bold;
  line-height:1.375rem;
  width:19.5rem;
  border:none;
  border-radius:6.25rem;
  opacity:1;
}
.blue-label{
  background-color:#354463;
  height:2.5rem;
  width:10rem;
  color:#ffffff;
  
  font-size:0.875rem;
  letter-spacing:0.035rem;
  line-height:1.0625rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.first-below-first{
  display:flex;
  flex-direction:column;
}
.first-background{
  background-image:url("/images/first.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  padding:2rem;
  display:flex;
  flex-direction:column;
}
.first-image-text{
  width:11.3125rem;
  height:8.5rem;
  text-align:left;
  font-size:2.75rem;
  line-height:2.625rem;
  color:#ffffff;
  font-family:Flood;
}
.to-be-center{
  margin-top:8.75rem;
  margin-bottom:0.9375rem;
  padding:1.25rem 1.25rem 1.875rem 1.25rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  background-color:#ffffff;
  position:relative;
}
.the-issue{
  position:absolute;
  top:-1.25rem;
}
.the-issue-content-head{
  color:#354463;
  font-size:1.375rem;
  line-height:1.75rem;
  font-weight:bold;
}
.the-issue-content-down{
  padding-left:1.25rem;
  padding-right:1.25rem;
  margin-bottom:0;
  color:#354463;
  font-size:0.875rem;
  letter-spacing:-0.009rem;
  line-height:1.5rem;
  text-decoration:underline;
}
.below-first-background{
  position:relative;
  display:flex;
  justify-content:center;
  background-color:#c1f7d5;
  padding:3.875rem 2rem 3.5rem;
}
.actions{
  display:flex;
  width:100%;
  gap:1.688rem;
  flex-direction:column;
}
.learn-volunteer{
  display:flex;
  justify-content:space-between;
}
.share-donate{
  display:flex;
  justify-content:space-between;
}
.action-head{
  margin:0;
  margin-bottom:0.5625rem;
  font-weight:bold;
  font-size:1.125rem;
  line-height:1.375rem;
  color:#354463;
}
.action-content{
  margin:0rem;
  font-size:0.875rem;
  line-height:1.25rem;
  letter-spacing:-0.009rem;
  color:#354463;
  font-weight:lighter;
}
.white-label{
  background-color:#ffffff;
  width:10rem;
  height:2.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:0.875rem;
  line-height:1.0625rem;
  letter-spacing:0.035rem;
  color:#354463;
}
.what-we-do-section{
  background-color:#354463;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:2.625rem 2rem 2.5rem;
}
.what-we-do-text{
  text-align:center;
  color:#ffffff;
  font-weight:bold;
  font-size:1.375rem;
  line-height:1.75rem;
}
.what-we-do-content{
  margin-top:3.3125rem;
  background-color:#ffffff;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:9.375rem 2.125rem 1.875rem 2.125rem;
  position:relative;
}
.what-we-image{
  width:15.5rem;
  height:11rem;
  position:absolute;
  top:-2.375rem;
}
.what-content-head-body{
  width:15rem;
  text-align:center;
}
.what-content-head{
  text-align:center;
  color:#354463;
  font-size:1.125rem;
  line-height:1.375rem;
  font-weight:bold;
  
  margin-bottom:0;
}
.what-content-body{
  font-weight:300;
  margin-top:1.25rem;
  margin-bottom:1.875rem;
  font-size:0.875rem;
  line-height:1.25rem;
  letter-spacing:-0.009rem;
  color:#354463;
  
  text-align:center;
}
.read-more{
  background-color:#c1f7d5;
  height:2.5rem;
  width:9.5rem;
  border-radius:6.25rem;
  color:#354463;
  font-weight:bold;
  font-size:1rem;
  line-height:1.25rem;
  
  display:flex;
  justify-content:center;
  align-items:center;
}
.second-background{
  background-image:url(/images/second.png);
  background-repeat:no-repeat;
  background-size:cover;
  padding:4rem 2rem 2rem;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.second-image-text{
  font-family:Flood;
  font-size:2.75rem;
  line-height:2.875rem;
  padding-right:0.5rem;
  display:flex;
  flex-direction:column;
  gap:1.25rem;
  color:#ffffff;
}
.take-action{
  background-color:#c1f7d5;
  padding:0.625rem;
  width:55%;
  border-radius:6.25rem;
  color:#354463;
  font-weight:bold;
  font-size:1rem;
  line-height:1.25rem;
  display:flex;
  justify-content:center;
  align-items:center;
  border:none;
}
.do-you-know-boxes{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1rem;
  margin-top:5rem;
}
.first-do-know-box{
  position:relative;
  display:flex;
  justify-content:center;
}
.did-you{
  position:absolute;
  top:-1.25rem;
}
.do-you-know-content{
  display:flex;
  justify-content:center;
  width:79%;
  background-color:#ffffff;
  padding:1.5rem 2rem;
}
.do1{
  
  font-weight:bold;
  font-size:1.375rem;
  line-height:1.75rem;
  color:#354463;
  margin-bottom:1rem;
}
.do2{
  
  font-size:0.875rem;
  letter-spacing:-0.009rem;
  line-height:1.25rem;
  color:#354463;
}
.logos{
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:1.5rem;
}
.facebook{
  background-color:#c1f7d5;
  border-radius:100%;
  width:2rem;
  height:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.twitter{
  background-color:#c1f7d5;
  border-radius:100%;
  width:2rem;
  height:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.stories{
  padding:3.5rem 2rem 4.5rem;
  display:flex;
  flex-direction:column;
  gap:2rem;
  position:relative;
  align-items:center;
}
.stories-background-image{
  width:100%;
}
.story-box{
  position:absolute;
  top:2.375rem;
}
.stories-content-button{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:2rem;
}
.stories-content{
  background-color:#354463;
  display:flex;
  padding:1.8125rem 2rem;
  flex-direction:column;
  justify-content:center;
  color:#ffffff;
  text-align:center;
}
.stories-content-head{
  
  font-size:1.375rem;
  line-height:1.75rem;
  font-weight:bold;
  margin-bottom:1.0625rem;
}
.stories-content-tail{
  
  font-size:0.6875rem;
  letter-spacing:0.0275rem;
  line-height:0.8125rem;
}
.future{
  background-color:#354463;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:3.4375rem 2rem;
}
.future-heading{
  font-family:Flood;
  font-size:2.75rem;
  line-height:2.875rem;
  color:#ffffff;
  text-align:center;
}
.future-image>img{
  margin-top:5.9375rem;
  width:100%;
}
.future-text{
  text-align:center;
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:center;
}
.event{
  position:absolute;
  top:-20.75rem;
}
.latest-news{
  position:absolute;
  top:-20.75rem;
}
.future-text-head{
  
  font-size:1.375rem;
  line-height:1.75rem;
  color:#ffffff;
  font-weight:bold;
}
.future-text-tail{
  margin-top:0;
  padding:1.25rem;
  
  font-weight:lighter;
  font-size:0.875rem;
  letter-spacing:-0.009rem;
  line-height:1.25rem;
  color:#ffffff;
}
.subscribe{
  background-color:#c1f7d5;
  padding:2.25rem 1.375rem 2rem 2rem;
}
.subscribe-text{
  width:100%;
  margin:0;
  font-weight:bold;
  font-size:1.375rem;
  line-height:1.75rem;
  color:#354463;
  padding-bottom:1.875rem;
}
.subscribe input{
  width:58%;
  margin-right:1%;
  height:2.5rem;
  border-radius:3.75rem;
  border-style:none;
  color:#354463;
  font-weight:light;
  text-align:center;
}
.subscribe-button{
  padding:0;
  background-color:#354463;
  color:#c1f7d5;
  font-weight:bold;
  font-size:1rem;
  line-height:1.1875rem;
  width:35%;
  height:2.5rem;
  border-style:none;
  border-radius:3.125rem;
}
footer{
  padding:4.1875rem 2rem;
}
.footer-flex{
  display:grid;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:50% 50%;
  row-gap:2.3125rem;
}
.green-head{
  width:5.875rem;
  color:#354463;
  
  font-weight:bold;
  font-size:1.125rem;
  line-height:1.375rem;
}
.footer-flex-up{
  margin-top:0;
  font-size:0.6875rem;
  line-height:0.8125rem;
  letter-spacing:0.0275rem;
  color:#354463;
}
.footer-flex-down{
  width:8.125rem;
  font-weight:lighter;
  font-size:0.875rem;
  line-height:1.25rem;
  letter-spacing:-0.009rem;
  color:#354463;
  margin:0;
}
.stop-climate-change{
  line-height:2.875rem;
  font-size:2.75rem;
  color:#354463;
  font-family:Flood;
  text-align:right;
  grid-column:2;
}



@media (min-width: 480px) and (max-width: 1023px){
    html{
        font-size: 2.05vw;
    }
    header{
        flex-direction: row;
        padding: 1.25rem 4rem;
    }
    .upper-half{
        flex:1;
        display: flex;
        gap:0.625rem;
        align-items: start;
        flex-direction: column;
    }
    .title{
        font-size: 1.375rem;
        line-height: 1.5rem;
        width:10rem;
    }
    .options{
        flex-direction: row;
        gap:1.9375rem;
        justify-content: space-between;
    }
    .nav-link{
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
    }
    .below-half{
        align-items: center;
    }
    .donate{
        width: 8.75rem;
    }
    /*  */
    .first-background{
        background-image: url(/images/first-tablet.png);
        padding: 4.3125rem 4rem;
    }
    .to-be-center{
        margin-top: 5.875rem;
        padding: 3.6875rem 4rem 4rem 4rem;
        margin-bottom: 0;
        align-items: start;
    }
    .the-issue-content-head{
        margin: 0;
        font-size: 2.25rem;
        line-height: 2.875rem;
        text-align: left;
    }
    .the-issue-content-down{
        padding: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
        margin-top: 2rem;
    }
    .below-first-background{
        padding: 4rem 4rem 3.75rem;
    }
    .learn-volunteer{
        gap: 20%;
    }
    .share-donate{
        gap: 17%;
    }
    .actions{
        gap:2.75rem;
    }
    .action-head{
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    .action-content{
        font-size: 1rem;
        letter-spacing: -0.01rem;
        line-height: 1.5rem;
        width: 95%;
    }
    /*  */
    .what-we-do-section{
        padding: 3.75rem 3.4375rem;
        align-items: start;
    }
    .what-we-do-text{
        text-align: left;
        font-size: 2.25rem;
        line-height: 2.875rem;
    }
    .contents-of-what{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap:4rem
    }
    .what-we-do-content{
        flex-wrap:wrap;
        flex-direction: row-reverse;
        align-items: end;
        gap:2.5rem;
        padding: 2.25rem 2.625rem 3rem 2rem;
    }
    .what-content-head{
        margin: 0rem;
        padding-bottom: 2rem;
        text-align: left;
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    .what-content-body{
        margin: 0;
        text-align: left;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
    }
    .what-we-image{
        width: 46%;
        height: 70%;
        position: absolute;
        top: -2.375rem;
        right: 20.1875rem;
    }
    .read-more{
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
    /*  */
    .second-background{
        background-image: url(asset/home/did-you-know-background.png);
        gap:2rem;
        flex-direction: row;
        padding: 3.9375rem;
        justify-content: space-between;
    }
    .second-image-text{
        width: 30%;
        margin-bottom: 0rem;
    }
    .take-action{
        width: 90%;
    }
    .did-you{
        right: 11.9375rem;
    }
    .do-you-know-boxes{
        margin:0;
        gap:2rem;
        align-items: center;
        width: 64%;
    }
    .do-you-know-content{
        justify-content: space-between;
    }
    .first-do-know-box{
        width: 100%;
    }
    .do1{
        width: 13.75rem;
        font-size: 2.25rem;
        line-height: 2.875rem;
    }
    .do2{
        width: 14rem;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
    }
    /*  */
    .stories{
        padding: 4rem 4rem 22.9375rem;
        position: relative;
        align-items: start;
    }
    .stories-background-image{
        width: 90%;
        height: 150%;
    }
    .story-box{
        position: absolute;
        left: 17.5%;
    }
    .stories-content-button{
        position: absolute;
        left: 17.5%;
        top: 55%;
        align-items: start;
        width: 74.5%;
    }
    .stories-content{
        text-align: left;
        padding: 3.8125rem 1.4375rem 3.9375rem 4rem;
    }
    .stories-content-head{
        font-size: 1.375rem;
        line-height: 1.75rem;
        margin-bottom: 2.6875rem;
    }
    .stories-content-tail{
        font-size: 0.875rem;
        line-height: 1.0625rem;
        letter-spacing: 0.035rem;
    }
    /*  */
    .future{
        padding: 4.125rem 4rem 4.5rem 4rem;
    }
    .future-heading{
        text-align: left;
        padding-right: 20%;
    }
    .future-image-text{
        margin-top: 3.6875rem;
        display: flex;
        gap: 4rem;
    }
    .future-image-text-reverse{
        margin-top: 3.6875rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }
    .future-image{
        flex:1;
    }
    .future-image>img{
        margin-top: 0;
        width: 87%;
    }
    .future-text{
        flex:1;
        align-items: start;
        gap:2.0625rem;
    }
    .event{
        position: initial;
    }
    .latest-news{
        position: initial;
    }
    .future-text-head{
        font-size: 1.75rem;
        line-height: 2.25rem;
        text-align: left;
        margin: 0;
    }
    .future-text-tail{
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
        text-align: left;
        padding: 0;
        margin:0;
        width: 95%;
    }
    /*  */
    .subscribe{
        padding: 3.8125rem 4rem 3.9375rem;
    }
    .subscribe-text{
        width:70%;
    }
    .subscribe input{
        width: 64%;
        text-align: left;
        padding-left: 1.875rem;
        margin-right: 3%;
    }
    .subscribe-button{
        width: 25%;
    }
    /*  */
    footer{
        padding: 3.75rem 4.6875rem 3.3125rem 4rem;
    }
    .green-head{
        width: 9.5625rem;
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
    .footer-flex{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .learn{
        grid-column: 2;
    }
    .stop-climate-change{
        grid-column: 3;
        text-align: left;
    }
}


@media (min-width: 1024px){
    html{
      font-size: 1.15vw;
    }
    header{
      flex-direction: row;
      padding: 2.125rem 10rem 1.9375rem;
    }
    .upper-half{
      width: 90%;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .options{
      width: 60%;
      justify-content: space-between;
      flex-direction: row;
      gap:5rem;
    }
    .title{
      width: 20%;
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
    .nav-link{
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
    }
    .below-half{
      align-items: center;
    }
    .donate{
      width: 8.75rem;
      height: 60%;
    }
    /*  */
    .first-background{
      background-image: url(/images/first-desktop.png);
      flex-direction: row-reverse;
      padding: 8rem 19.0625rem 8rem 10rem;
      align-items: start;
      justify-content: space-between;
    }
    .to-be-center{
      align-items: start;
      justify-content: start;
      padding: 4.125rem 4rem 4.6875rem;
      margin-top: 0;
      width:45%;
    }
    .first-image-text{
      width: 30%;
      font-size: 4.5rem;
      line-height: 4.75rem;
    }
    .the-issue-content-head{
      margin: 0;
      font-size: 2.75rem;
      line-height: 3.5rem;
      text-align: left;
    }
    .the-issue-content-down{
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
      padding: 0;
      margin-top: 1.875rem;
    }
    /*  */
    .below-first-background{
      padding: 4.6875rem 10rem 4.875rem;
    }
    .actions{
      gap:3.5rem;
      flex-direction: row;
    }
    .learn-volunteer{
      gap:3.5rem;
    }
    .share-donate{
      gap:3.5rem;
    }
    .action-head{
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    .action-content{
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
    }
    /*  */
    .what-we-do-section{
      padding: 5.5rem 9.875rem 10rem 10rem;
      align-items: flex-start;
    }
    .what-we-do-text{
      font-size: 2.75rem;
      line-height: 3.5rem;
      text-align: left;
    }
    .contents-of-what{
      display: flex;
      flex-direction: row;
      gap:2rem;
      justify-content: space-between;
    }
    .what-we-do-content{
      align-items: flex-start;
      width: 22.5%;
      padding-top: 12.5rem;
    }
    .what-we-image{
      width: 100%;
      height: 44%;
    }
    .what-content-head-body{
      width: 98%;
    }
    .what-content-head{
      text-align: left;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    .what-content-body{
      text-align: left;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.01rem;
    }
    /*  */
    .second-background{
      background-image: url(/images/second-desktop.png);
      flex-direction: row;
      justify-content: space-between;
      padding: 8.9375rem 10rem 7.9375rem;
    }
    .second-image-text{
      font-size: 4.5rem;
      line-height: 4.75rem;
      gap:3.5625rem;
      width:35%
    }
    .do-you-know-boxes{
      margin: 0;
      gap: 2rem;
      align-items: flex-end;
    }
    .first-do-know-box{
      justify-content: flex-end;
    }
    .do-you-know-content{
      padding: 3.875rem 3.5rem 3.3125rem 4rem;
      width: 66%;
    }
    .did-you{
      left: 10.125rem;
    }
    .do1{
      font-size: 2.75rem;
      line-height: 3.5rem;
      margin-bottom: 0.3125rem;
    }
    .do2{
      font-size: 1.25rem;
      line-height: 1.875rem;
      letter-spacing: -0.025rem;
      width: 80%;
    }
    /*  */
    .stories{
      padding: 8rem 10rem;
      flex-direction: row-reverse;
    }
    .stories-background-image{
      width: 57.5%;
    }
    .story-box{
      right: 40%;
      top: 13%;
    }
    .stories-content-button{
      align-items: start;
      width: 37%;
      position: absolute;
      right: 51%;
      gap:4rem;
      top: 27.5%;
    }
    .stories-content{
      padding: 3.25rem 4rem 3.9375rem;
      text-align: left;
    }
    .stories-content-head{
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 1.1875rem;
    }
    .stories-content-tail{
      font-size: 0.875rem;
      line-height: 1.0625rem;
      letter-spacing: 0.035rem;
    }
    /*  */
    .future{
      padding: 8rem 10rem 7rem;
      align-items: flex-start;
    }
    .future-heading{
      font-size: 4.5rem;
      line-height: 4.75rem;
      text-align: left;
      width: 80%;
      margin-bottom: 4.625rem;
    }
    .future-image-text{
      display: flex;
      margin-bottom: 7rem;
      gap:122.5px;
    }
    .future-image-text-reverse{
      display: flex;
      flex-direction: row-reverse;
      gap:122.5px;
    }
    .future-image{
      flex-basis: 60%;
    }
    .future-text{
      flex-basis: 40%;
    }
    .future-image > img{
      width: 100%;
      margin-top: 0;
    }
    .event{
      top:0%;
    }
    .latest-news{
      top: 0%;
    }
    .future-text{
      width: 40%;
      gap:1.375rem;
      align-items: flex-start;
    }
    .future-text-head{
      text-align: left;
      font-size: 2.75rem;
      line-height: 3.5rem;
      margin: 0;
      margin-top: 20.5%;
    }
    .future-text-tail{
      text-align: left;
      padding: 0;
      font-size: 1.25rem;
      line-height: 2rem;
      letter-spacing: -0.025rem;
    }
    /*  */
    .subscribe{
      display: flex;
      padding: 4.3125rem 10rem;
      align-items: center;
    }
    .subscribe-text{
      padding: 0;
      width: 50%;
      font-size:1.75rem;
      line-height: 2.25rem;
    }
    .input-sub-button{
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
    .subscribe input{
      width: 63%;
      text-align: left;
      padding-left: 1.875rem;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
    }
    .subscribe-button{
      width: 30%;
    }
    /*  */
    footer{
      padding: 7.0625rem 9.875rem 7.5rem 10rem;
    }
    .green-head{
      font-size: 1.375rem;
      line-height: 1.75rem;
      width: 50%;
    }
    .footer-flex{
      display: flex;
      gap:6rem;
    }
    .footer-flex-up{
      font-size: 0.875rem;
      line-height: 1.0625rem;
      letter-spacing: 0.035rem;
    }
    .footer-flex-down{
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: -0.00875rem;
    }
}
